body{
    background-color: rgba(184, 64, 64, 0.603);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin: 120px auto;
    height: 600px;
    width: 800px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    background-color: lightsteelblue;
}
.scoreboard {
    text-align: center;
    font-size: 40px;
    margin-top: 150px;
    /* margin-bottom: 50px; */
}
 button{
    /* padding: 20px; */
    font-size: 20px;
    text-align: center;
    height: 50px;
    width: 100px;
    margin-top: 20px;
    background-color: mediumseagreen;
    border: solid black 2px;
    border-radius: 10px;
    cursor: pointer;
    }