.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: aquamarine;

    img{
        width: 80px;
        height: 80px;
        cursor: pointer;
    }
    /* SelectedImgId{ */
/*          */
    /* } */
}